<html>
    <head>
        <title>
                Upload Services
        </title>

    </head>
    <body>
        <div class="container">
                    <div class="jumbotron">
                    <h1>Todo Applications</h1>
                     <p>Todo.ly is an intuitive and easy to use online Todo list, and Task Manager. It helps you to get organized, simplify your life, and to get things done.   </p> 
                    </div>
                    <p>Upload a photo to your account below.</p>
                    <form method='post' enctype='multipart/form-data'>
                    <p><input type='file', name='files'/ multiple ></p>
                    <p><input type='submit', value='Upload'/></p>
                    </form>
               
            </div>
    </body>
</html>